.page {
  margin: 20px;
}

.page-header,
.interactions {
  text-align: center;
}

.articles {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  width: 400px;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  transition-duration: .2s;
}

.article:hover {
  box-shadow: 0 0 10px #ccc;
  transition-duration: .2s;
}

.article>* {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.article-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
  align-self: center;
}

.article-content {
  margin: 10px 5px;
  display: block;
  white-space: normal;
  text-align: justify;
}

.article-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.article-header>a {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.rw-40 {
  width: 40%;
}

.rw-30 {
  width: 30%;
}

.rw-10 {
  width: 10%;
}

.lh-16 {
  line-height: 16px;
}
